
  <block-ui>
    <!-- Your app markup here -->
  </block-ui>
  <div class="text-center" class="t-head">Ajouter Un utilisateur</div>
  <div class="text-center">

    <img width="100px" height="100px" src="../../../../assets/upload.png" alt="">
  </div>
<div class="row">
<div class="col-md-12">
  <form [formGroup]="myForm" (ngSubmit)="submit(myForm)">

    <div class="row">
      <div  class="col-md-12"> <div  class="form-group">
          <!-- <label for="name">Nom</label> -->
          <input   id="name" formControlName="name" class="form-control paid"  placeholder="Nom">
        </div></div>
      <div class="col-md-12"> <div  class="form-group">
          <!-- <label for="barcode">Barcode (si necessaire)</label> -->
        <input   id="barcode" formControlName="phone" class="form-control"  placeholder="numero de telephone">
      </div></div>
      <div class="col-md-12"> <div  class="form-group">
          <!-- <label for="barcode">Barcode (si necessaire)</label> -->
        <input   id="barcode" formControlName="pin" class="form-control"  placeholder="pin">
      </div></div>

      <div class="col" style="display: none"> <div  class="form-group">
          <!-- <label for="barcode">Barcode (si necessaire)</label> -->
        <input   id="barcode" formControlName="offlineIdentifier" class="form-control"  placeholder="montant">
      </div></div>

      <div class="col" style="display: none"> <div  class="form-group">
        <!-- <label for="barcode">Barcode (si necessaire)</label> -->
      <input value="USER"   id="barcode" formControlName="type" class="form-control"  placeholder="montant">
    </div></div>
    </div>
    <div class="row">
        <div class="col">

          <!-- <label for="">Enregister</label> -->
                  <button style="height: 38px" type="submit"[disabled]="myForm.invalid" color="primary" mat-raised-button class="btn btn-block btnBlue">Enregistrer</button>

        </div>
            </div>
</form>
</div>
</div>
