mat-grid-tile {
    background:#3D3780;
    color: white
  }

.rounded{
    border-radius: 50px;
    margin: 10px
  }
  .card{
    background: #3D3780;
    color: white;
    width: 350px;
    height: 130px;
    margin-top: 10px;
    text-align: center
  }
  .col{
      text-align: center
  }
  .badge{
    background: #3F51B5;
    color: white;
  }