<block-ui>
    <!-- Your app markup here -->
  </block-ui>

<div class="row container text-center" style="justify-content: center; margin-left: 50px">
  <div class="col-md-3" >
      <input class="roundInput" #box (keyup)="filter(box.value)" style="margin-bottom: 10px; " type="text" placeholder="Trier" class="form-control">
  </div>
  <div class="col-md-2" >
    <button (click)="openDialog()" style="margin-bottom: 10px; height: 38px; " class=" btn-block btn-large btn btn-primary btnBlue">Ajouter</button>
 
  </div>
  <div class="col-md-2" >
      <label class="d-block text-center" style="margin-bottom: 10px; height: 38px; width: 100%; justify-content: center; padding-top: 12px; margin-bottom: 10px" for="file" class="btnGreen">Importer</label>
        <input  id="file" type="file" accept=".xls,.xlsx" (change)="choseFile($event.target.files[0])" style="margin-bottom: 10px; height: 38px; display: none" class="btn-block btn-large btn btn-primary btnGreen" value="Importer Les Produits">
      </div>
      <div class="col-md-2">
  <button (click)="exportAsXLSX()" style="margin-bottom: 10px; height: 38px; " class="btnRed btn-block btn-large btn">Exporter</button>
      </div>
</div>

<div class="mat-elevation-z8 container table">
  <mat-table [dataSource]="data" matSort >
      <ng-container matColumnDef="index">
          <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index;">{{i+1}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell class="t-head" *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name|lowercase}}</mat-cell>
    </ng-container>

 <ng-container matColumnDef="amount">
              <mat-header-cell class="t-head" *matHeaderCellDef mat-sort-header>Montant</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.amount}} {{currency}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="description">
                <mat-header-cell class="t-head" *matHeaderCellDef mat-sort-header mat-sort-header>Description</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.description|lowercase}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="creationDate">
                  <mat-header-cell class="t-head" *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
                  <mat-cell  *matCellDef="let element">{{element.creationDate|date:'dd/MM/yyyy HH:mm:ss'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="by">
                    <mat-header-cell class="t-head" *matHeaderCellDef mat-sort-header mat-sort-header>Par</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.by}}</mat-cell>
                  </ng-container>
                <ng-container matColumnDef="actions">
                  <mat-header-cell class="t-head" *matHeaderCellDef>
                    <img (click)="onPageRefresh()" style="margin-left:140px" width="30px" height="30px" src="../../../../assets/refresh.png" alt="">
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">

                      <button mat-stroked-button color [matMenuTriggerFor]="menu">Actions</button>
                    <mat-menu #menu="matMenu">
                  <!-- <button (click)="openDetailsDialog(element.id)" mat-menu-item> Edit </button> -->
                  <button *ngIf="element.balance>0" (click)="openAddPayment(element)" mat-menu-item>  payer </button>
                  <button  (click)="openEditDialog(element)" mat-menu-item>  Details </button>
                  <button  (click)="confirmDeleteExpense(element)" mat-menu-item>  Effacer </button>
                  <!-- <button class="btnRed" mat-icon-button color="warn"> Effacer </button> -->
                </mat-menu>
                  </mat-cell>
                </ng-container>
<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></mat-row>

  </mat-table>

  <mat-paginator
  (page)="onPageChanged($event)"
  showFirstLastButtons
  [(length)]="totalElements"
              [pageSize]="5"
              [pageSizeOptions]="[10,25,50, 100,200,500,1000,5000,10000,50000,100000,1000000]">
</mat-paginator>
</div>

  <div class="row"  *ngIf="size>5">
  
      <button (click)="exportAsXLSX()" style="margin-bottom: 10px; height: 38px; margin-left: 50px; margin-right: 50px " class="btnRed btn-block btn-large btn">Exporter</button>
         

 
</div>