.card-header{
    background-color: #3D3780; color:white
}
.saleDate{
    float: right;
}
.gray{
    style:color: gray
}
.servedBy{
    color:#3D3780
}
.status{
    font-weight: bold; font-size:18px
}
.red{
color: red
}
.green{
color: green
}.orange{
color: orange
}

.font-20{
    font-weight: bold; font-size:20px
}

.font-40{
    font-weight: bold; font-size:40px
}