<div class="body">
    <div style="font-size: 15px; float: right"  class="text-center">
        <span class="badge badge-light"> {{businessName}} Date d'expiration: {{expirationDate|date}}
        </span>
        </div>

    <mat-toolbar class="toolbar">
        <mat-toolbar-row>
          <span>
            <button routerLink="/dashboard/pos" class="btn btn-sm blue" mat-raised-button color="primary">TORAPOS 1.0</button>
            <button routerLink="/dashboard/products/all" class="btn btn-sm gray" mat-stroked-button color="primary">Produits</button>
            <button routerLink="/dashboard/sales/all" class="btn btn-sm gray" mat-stroked-button color="primary">Ventes</button>
            <button routerLink="/dashboard/customers/all" class="btn btn-sm gray" mat-stroked-button color="primary">clients</button>
            <button routerLink="/dashboard/expenses" class="btn btn-sm gray" mat-stroked-button color="primary">depenses</button>
            <button routerLink="/dashboard/employees" class="btn btn-sm gray" mat-stroked-button color="primary">employes</button>
            <button (click)="comingSoon()" class="btn btn-sm gray" mat-stroked-button color="primary">Rapports</button>
            <button (click)="comingSoon()" class="btn btn-sm gray" mat-stroked-button color="primary">Nos Contacts </button>
            <button (click)="comingSoon()" class="btn btn-sm gray" mat-stroked-button color="primary">Reabonnement</button>
            <!-- <button (click)="comingSoon()" class="btn btn-sm gray" mat-stroked-button color="primary">Rapports</button> -->
            <!-- <button (click)="comingSoon()" class="btn btn-sm gray" mat-stroked-button color="primary">Activites</button> -->
            <button (click)="logout()" class="btn btn-sm blue" mat-raised-button color="primary">Deconnecter</button>
            <img *ngIf="!connected" width="50px" height="50px" src="../../../assets/not_connected.png" alt="">
            <img *ngIf="connected" width="50px" height="30px" src="../../../assets/connected.jpg" alt="">




          </span>

          </mat-toolbar-row>





      </mat-toolbar>
      <mat-drawer-container class="example-container">
        <mat-drawer class="drawer" mode="side" opened>




        </mat-drawer>
        <mat-drawer-content>

          <router-outlet></router-outlet>
        </mat-drawer-content>
      </mat-drawer-container>
</div>
