<block-ui>
    <!-- Your app markup here -->
  </block-ui>

<div class="row container text-center" style="justify-content: center; margin-left: 50px">
  <div class="col-md-3"><mat-form-field>
      <mat-label>Status du stock</mat-label>
  <select (change)="onStatusChanged($event.target.value)"  matNativeControl required>
      <option value="all">Toutes les produits</option>
      <!-- <option value="complet"></option> fabile stock</option> -->
      <option value="out"> finis en stock</option>
      <!-- <option value="credit">Ventes a credit</option> -->
    </select>
  </mat-form-field></div>
  <div class="col-md-3" >
      <input class="roundInput" #box (keyup)="getProductsByName(box.value)" style="margin-bottom: 10px; " type="text" placeholder="Trier" class="form-control">
  </div>
  <div class="col-md-2" >
    <button (click)="openDialog()" style="margin-bottom: 10px; height: 38px; " class=" btn-block btn-large btn btn-primary btnBlue">Ajouter</button>
 
  </div>
  <div class="col-md-2" >
    <label class="d-block text-center" style="margin-bottom: 10px; height: 38px; width: 100%; justify-content: center; padding-top: 12px; margin-bottom: 10px" for="file" class="btnGreen">Importer</label>
      <input  id="file" type="file" accept=".xls,.xlsx" (change)="choseFile($event.target.files[0])" style="margin-bottom: 10px; height: 38px; display: none" class="btn-block btn-large btn btn-primary btnGreen" value="Importer Les Produits">
    </div>
    <div class="col-md-2">
<button (click)="exportAsXLSX()" style="margin-bottom: 10px; height: 38px; " class="btnRed btn-block btn-large btn">Exporter</button>
    </div>
</div>

<div class="mat-elevation-z8 container table">
  <mat-table [dataSource]="data" matSort >
      <ng-container matColumnDef="index">
          <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index;">{{i+1}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell class="t-head" *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>

    <!-- <ng-container matColumnDef="barcode">
        <mat-header-cell *matHeaderCellDef>Barcode</mat-header-cell>
        <mat-cell *matCellDef="let element" *ngIf="element.barcode==null">{{element.barcode}}</mat-cell>
      </ng-container> -->

    

          <ng-container matColumnDef="purchaseCost">
              <mat-header-cell class="t-head" *matHeaderCellDef mat-sort-header>Cout</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.purchaseCost}} {{currency}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="price">
                <mat-header-cell class="t-head" *matHeaderCellDef mat-sort-header mat-sort-header>Prix</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.price}} {{currency}}</mat-cell>
              </ng-container>
              <!-- <ng-container matColumnDef="loading">
                <mat-footer-cell class="t-head" *matFooterCellDef mat-sort-header>Loading Data</mat-footer-cell>
               
              </ng-container> -->
              <ng-container matColumnDef="quantity">
                  <mat-header-cell class="t-head" *matHeaderCellDef mat-sort-header>Quantite</mat-header-cell>
                  <mat-cell  *matCellDef="let element">{{element.quantity}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <mat-header-cell class="t-head" *matHeaderCellDef>
                    <img (click)="onPageRefresh()" style="margin-left:140px" width="30px" height="30px" src="../../../../assets/refresh.png" alt="">
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <button (click)="openEditDialog(element.id)" style="margin-right: 10px" class="btnBlue" mat-icon-button> Details </button>
                    
                    <button (click)="openAddQuantityDialog(element)" class="btnGreen" mat-icon-button color="warn"> Stocker </button>
                    <!-- <button class="btnRed" mat-icon-button color="warn"> Effacer </button> -->
                    
                  </mat-cell>
                </ng-container>
<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></mat-row>
<!-- <mat-footer-row  style="justify-content: center" *matFooterRowDef="['loading']" ngClass="{'hide':data!=null}">
  
</mat-footer-row> -->
<mat-progress-bar
ngClass="{'hide':data!=null}"
class="app-product-list"
[color]="color"
[mode]="mode"
[value]="value"
[bufferValue]="bufferValue">
</mat-progress-bar>
  </mat-table>

  <mat-paginator
  (page)="onPageChanged($event)"
  showFirstLastButtons
  [(length)]="totalElements"
              [pageSize]="5"
              [pageSizeOptions]="[25,50, 100,200,500,1000,5000,10000,50000,100000,1000000]">
</mat-paginator>
</div>