<block-ui>
  <!-- Your app markup here -->
</block-ui>

<div class="row container text-center" style="justify-content: center; margin-left: 50px">
<div class="col-md-4" >
    <input class="roundInput" #box (keyup)="filter(box.value)" style="margin-bottom: 10px; " type="text" placeholder="Trier" class="form-control">
</div>
<div class="col-md-4" >
  <button (click)="openDialog()" style="margin-bottom: 10px; height: 38px; " class=" btn-block btn-large btn btn-primary btnBlue">Ajouter</button>

</div>

    <div class="col-md-4">
<button (click)="exportAsXLSX()" style="margin-bottom: 10px; height: 38px; " class="btnRed btn-block btn-large btn">Exporter</button>
    </div>
</div>

<div class="mat-elevation-z8 container table">
<mat-table [dataSource]="data" matSort >
    <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;">{{i+1}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell class="t-head" *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.name|uppercase}}</mat-cell>
  </ng-container>

<ng-container matColumnDef="phone">
            <mat-header-cell class="t-head" *matHeaderCellDef mat-sort-header>Num de telephone</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.phone}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="type">
            <mat-header-cell class="t-head" *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.type}}</mat-cell>
          </ng-container>
              <ng-container matColumnDef="actions">
                <mat-header-cell class="t-head" *matHeaderCellDef>
                  <img (click)="onPageRefresh()" style="margin-left:140px" width="30px" height="30px" src="../../../../assets/refresh.png" alt="">
                </mat-header-cell>
                <mat-cell *matCellDef="let element">

                    <button mat-stroked-button color [matMenuTriggerFor]="menu">Actions</button>
                  <mat-menu #menu="matMenu">
                <button  (click)="openEditDialog(element)" mat-menu-item>  Details </button>
                <button *ngIf="element.type!='ADMIN'"  (click)="confirmDelete(element)" mat-menu-item>  Effacer </button>
                <!-- <button class="btnRed" mat-icon-button color="warn"> Effacer </button> -->
              </mat-menu>
                </mat-cell>
              </ng-container>
<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></mat-row>

</mat-table>

<mat-paginator
(page)="onPageChanged($event)"
showFirstLastButtons
[(length)]="totalElements"
            [pageSize]="5"
            [pageSizeOptions]="[10,25,50, 100,200,500,1000,5000,10000,50000,100000,1000000]">
</mat-paginator>
</div>

